* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 10px;
}

.timer{
    margin: 20px;
    font-size: 2rem;
    background-color: gold;
    border: 1px solid black;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin: 10px;
}

.numbers{
    margin: 20px;
    font-size: 2rem;
    background-color: pink;
    border: 1px solid black;
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 5px;
    width: 120px;
    margin: 20px;
    font-size: 1.5rem;
}